:root {
    --main-color: #272b33;
    --second-color: #202329;
    --select-text-color: #ff9800;
    --transition-default: 300ms ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*::selection {
    color: var(--select-text-color);
    background-color: var(--second-color);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

a {
    text-decoration: none;
}

/* Header*/

.nav {
    padding: 0.8rem;
    border-bottom: 1px solid #2e293314;
}

.nav .nav__img {
    width: 3.3rem;
    display: none;
    position: relative;
    user-select: none;
}

:is(.nav__img, .nav__img a) img {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

:is(.nav__img, .nav__img a) img:last-child {
    visibility: hidden;
}

:is(.nav__img:hover, .nav__img:hover a) > img:last-child {
    visibility: visible;
}

.list-items {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.list-items .item {
    font-weight: 700;
}

.list-items .item-active {
    color: var(--select-text-color);
    user-select: none;
    cursor: no-drop;
}

.list-items .item .link-item {
    transition: color 300ms ease-out;
    color: var(--second-color);
}

.list-items .item .link-item:hover {
    color: var(--select-text-color);
}

/* Header */

/* Title secction */

.title-section {
    margin: 2rem 0;
    padding: 0 1.25rem;
    text-align: center;
}

.main-title {
    color: var(--second-color);
    font-weight: 900;
    font-size: 3.125rem;
    text-wrap: balance;
}

.main-subtitle {
    color: var(--main-color);
    font-weight: 900;
    font-size: 2rem;
    border-top: 2px dashed #ccc;
    margin-top: 0.7rem;
    text-wrap: balance;
}

/* Title secction */


/* Home */

.section {
    max-width: 1920px;
    margin: auto;
    padding: 1.5rem;
}

/* Introduction Section */

.introduction-section {
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.introduction-section__text {
    text-align: center;
    text-wrap: pretty;
}

.introduction-section__text h2 {
    margin-bottom: 0.4rem;
}

.btn-section {
    color: #fff;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    border: 2px solid #fff;
    transition: all 300ms ease-out;
}

.btn-section:hover {
    background-color: #fff;
    color: #000;

}

/* Introduction Section */

/* Characteristics Section */

.characteristics-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.characteristics-section__item {
    width: 100%;
    color: #fff;
    background-color: #272b33;
    padding: 1rem;
    border-radius: 0.3rem;
    min-height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.characteristics-section__item-text {
    text-align: center;
}

.characteristics-section__item  i {
    font-size: 1.9rem;
}

.characteristics-section__item-description {
    text-wrap: pretty;
}

/* Characteristics Section */

/* characters Gallery Section */

.characters-gallery-section {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters-gallery-section__characters {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 10rem);
    gap: 1rem;
    width: 100%;
    margin: 1.5rem 0;
}

.section-title {
    color: #fff;
}

.characters-gallery-section__characters-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.characters-gallery-section__characters-item a {
    min-width: 100%;
    height: 100%;
}

.characters-gallery-section__characters-item a {
    color: #fff;
    font-weight: 800;
    font-size: 1.5rem;
}

.characters-gallery-section__characters-item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.characters-gallery-section__characters-item .item-shadow {
    background-color: #0006;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    bottom: 0;
    display: grid;
    place-content: center;
    transition: transform 500ms;
}

/* characters Gallery Section */


/* Home */

/* Main Section */

.main-section {
    position: relative;
    flex-grow: 1;
    background-color: var(--main-color);
    padding: 1.5rem;
    display: grid;
    place-content: center;
}

.main-section-details {
    position: relative;
    flex-grow: 1;
    background-color: var(--main-color);
    padding: 1.5rem;
}

.container-episode-details {
    width: 100%;
    max-width: 1920px;
}

.details-episode {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 5rem);
    gap: 1rem;
    margin-bottom: 4rem;
    justify-content: center;
}

.details-episode__item {
    width: 100%;
    background-color: #3c3e44;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 3px 0.2rem #aaa;
}

.details-episode__item-title {
    font-weight: 800;
    color: #9e9e9e;
    margin-bottom: 0.4rem;
}

.details-episode__item-text {
    color: #fff;
}

.show-cards {
    text-align: center;
    user-select: none;
}

.show-cards label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.show-cards-mt {
    margin-top: 3rem;
}

.show-cards-mb {
    margin-bottom: 3rem;
}

.show-cards-text {
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.show-cards-text::before,
.show-cards-text::after {
    content: " - - - - ";
}

.show-cards label input[type="checkbox"] {
    visibility: hidden;
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

.btn {
    position: relative;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.btn:active:not(:disabled) {
    transition: all 50ms ease-in;
    scale: 0.9;
}

.btn:disabled {
    cursor: no-drop;
}

.btn-prev::after {
    content: "❮";
    font-size: 2rem;
    position: absolute;
    top: 6px;
    left: -4px;
    right: 0;
}

.btn-next::after {
    content: "❯";
    font-size: 2rem;
    position: absolute;
    top: 6px;
    left: 2px;
    right: 0;
}

.number-of-page {
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
    user-select: none;
}

/* Main Section */

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: rgb(32, 35, 41);
    color: rgb(158, 158, 158);
    padding: 4.5rem 0px;
    min-height: 7.5rem;
    width: 100%;
}

.footer-a-icons {
    display: flex;
    gap: 1.2rem;
}

.footer-author {
    margin-top: 1rem;
}

.footer-span-decorated {
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid var(--select-text-color);
    cursor: pointer;
    transition: color 300ms ease-in-out;
}

.footer-span-decorated:hover {
    border-bottom: none;
    color: var(--select-text-color) !important;
}

.footer-credits {
    margin-top: 2rem;
}

.footer-credits span a {
    color: #fff !important;
}

.footer-a-icons__item {
    color: #fff;
    transition: color 300ms ease-out;
}

.footer-a-icons__item:hover {
    color: var(--select-text-color);
}

/* Footer */

@media only screen and (width > 650px) {
    .nav {
        padding: 1rem;
        border: none;
        display: flex;
        align-items: center;
        height: 4.4rem;
    }

    .nav .nav__img {
        display: inline-block;
    }

    .list-items {
        justify-content: end;
        flex-grow: 1;
    }

    .list-items .item {
        font-size: 1.1rem;
    }

    .main-title {
        font-size: 3.75rem;
    }

    .main-subtitle {
        font-size: 2.2rem;
        margin-inline: auto;
        width: 75%;
    }

    .main-section {
        padding: 4.5rem 0px;
    }

    .main-section-details {
        display: flex;
        align-items: center;
    }

    .details-episode {
        grid-template-columns: repeat(2, minmax(300px, 400px));
        grid-template-rows: repeat(2, 1fr);
    }

    .details-episode__item-title {
        font-size: 1.3rem;
    }

    .details-episode__item-text {
        font-size: 1.04rem;
        font-weight: bold;
    }

    .show-cards {
        font-size: 1.04rem;
    }

    .show-cards-text::before,
    .show-cards-text::after {
        content: " - - - - - ";
    }

    .introduction-section__text {
        font-size: 1.2em;
    }

    .characteristics-section__item {
        width: 25rem;
    }

    .characters-gallery-section__characters {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-rows: repeat(3, 10rem);
        justify-content: center;
    }
}

@media only screen and (width > 890px) {
    .list-items {
        gap: 2.5rem;
    }

    .list-items .item {
        font-size: 1.3rem;
    }

    .main-title {
        font-size: 5.25rem;
        text-wrap: nowrap;
    }

    .main-subtitle {
        font-size: 2.6rem;
        width: 90%;
        text-wrap: pretty;
    }

    .details-episode {
        grid-template-rows: repeat(2, 6.375rem);
    }

    .details-episode__item {
        display: grid;
        place-content: center;
    }

    .details-episode__item-title {
        font-size: 1.8rem;
    }

    .details-episode__item-text {
        font-size: 1.2rem;
    }

    .show-cards {
        font-size: 1.08rem;
    }

    .show-cards-text::before,
    .show-cards-text::after {
        content: " - - - - - - - ";
    }

    .introduction-section {
        min-height: 14rem;
    }

    .introduction-section__text {
        font-size: 1.35em;
    }

    .introduction-section-btn {
        margin-top: 1rem;
    }

    .characteristics-section {
        flex-flow: row wrap;
        justify-content: center;
        gap: 0;
        font-size: 1.2em;
    }

    .characteristics-section__item {
        min-width: 25rem;
        min-height: 10rem;
        margin: 0.7rem;
    }

    .characters-gallery-section__characters {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-template-rows: repeat(2, 12rem);
        justify-content: center;
    }

    .characters-gallery-section__characters-item a:hover > .item-shadow {
        transform: translateY(100%);
    }

    .section-title {
        font-size: 1.8rem;
    }

    .btn-section {
        padding: 0.4rem 1.1rem;
        font-size: 1.05rem;
    }
}

@media only screen and (width >= 910px) {
    .main-title {
        font-size: 5.625rem;
    }

    .section-title {
        font-size: 2.2rem;
    }
}

@media only screen and (width >= 1088px) {
    .main-subtitle {
        text-wrap: balance;
    }

    .main-section-details {
        display: block;
    }
}

[v-cloak] {
    display: none;
}
