<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Character Details</title>
        <link rel="shortcut icon" href="../../assets/img/icon-rick-sanchez.png" type="image/x-icon">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        />
        <link rel="stylesheet" href="../../css/style.css" />
        <link rel="stylesheet" href="../../css/card.css" />
        <link rel="stylesheet" href="../../css/loader.css" />
    </head>
    <body>
        <header>
            <nav class="nav">
                <div class="nav__img">
                    <a href="../../index.html" id="pictures"></a>
                </div>
                <ul class="list-items">
                    <li class="item"><a href="./characters.html" class="link-item">Characters</a></li>
                    <li class="item"><a href="./locations.html" class="link-item">Locations</a></li>
                    <li class="item"><a href="./episodes.html" class="link-item">Episodes</a></li>
                </ul>
            </nav>
        </header>
        <main id="app">
            <section class="title-section">
                <h1 class="main-title">The Rick and Morty</h1>
                <h3 class="main-subtitle">Character Details</h3>
            </section>
            <section class="main-section">
                <div class="loader" v-if="loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="container-cards" v-else v-cloak>
                    <article class="card card-details">
                        <div class="card__header card__header--details">
                            <img :src="character.image" :alt="character.name" />
                        </div>
                        <div class="card__body card__body--details">
                            <div class="card__body-section">
                                <h2 class="card__body-text">
                                    {{character.name}}
                                </h2>
                                <p class="card__body-status">
                                    <span
                                        class="status__icon"
                                        :class="{'status-alive': character.status === 'Alive', 'status-unknown': character.status === 'unknown', 'status-dead': character.status === 'Dead'}"
                                    ></span>
                                    {{character.status}} - {{character.species}}
                                </p>
                            </div>
                            <div class="card__body-section">
                                <p class="card__body-text-gray">
                                    Gender:
                                </p>
                                <p>{{character.gender}} <i :class="{'bi bi-gender-male': character.gender === 'Male', 'bi bi-gender-female': character.gender === 'Female'}"></i></p>
                            </div>
                            <div class="card__body-section">
                                <p class="card__body-text-gray">
                                    Last known location:
                                </p>
                                <p v-if="character.location.name !== 'unknown'" class="card__body-location"><a :href=`./residents.html?location=${character.location.url.slice(character.location.url.lastIndexOf("/")).slice(1)}`>{{character.location.name}} <i class="bi bi-arrow-up-right-circle"></i></a></p>
                                <p v-else class="card__body-location">{{character.location.name}}</p>
                            </div>
                            <div class="card__body-section">
                                <p class="card__body-text-gray">
                                    First seen in:
                                </p>
                                <p class="card__body-episode"><a :href=`./episode.html?episode=${character.episode[0].slice(character.episode[0].lastIndexOf("/")).slice(1)}`>{{character.nameOfEpisode}} <i class="bi bi-arrow-up-right-circle"></i></a></p>
                            </div>
                            <div class="card__body-section">
                                <p class="card__body-text-gray">
                                    No. of appearances:
                                </p>
                                <p class="card__body-appearances">{{character.episode.length}}</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-a-icons">
                <a 
                    class="footer-a-icons__item"
                    href="https://github.com/DanielRodado"
                    target="_blank"
                    rel="noopener noreferrer nofollow">
                    <i class="bi bi-github"></i>
                </a>
                <a 
                    class="footer-a-icons__item"
                    href="https://www.linkedin.com/in/daniel-rodado-b24432210/"
                    target="_blank"
                    rel="noopener noreferrer nofollow">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
            <p class="footer-author">
                ❮❯ by
                <span class="footer-span-decorated">Daniel Rodado</span> 2024
            </p>
            <p class="footer-credits">
                Page inspired by
                    <a
                        class="footer-span-decorated"
                        href="https://rickandmortyapi.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                        >The Rick and Morty API</a
                    >
            </p>
        </footer>
        <button id="scrollButton"><i class="bi bi-arrow-bar-up"></i></button>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="module" src="../../js/main.js"></script>
        <script type="module" src="../../js/character.js"></script>
    </body>
</html>
